# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

# Code files
[*.{cs,cshtml}]
max_line_length = 120
trim_trailing_whitespace = true

# Dotnet code style settings:
[*.{cs}]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning
